/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.table_container {
  border: 1px solid black;
}

.skill_header {
  border-bottom: 1px solid black;
}

.skill_containers {
  border-right: 1px solid black;
}

.aboutme_video {
  width: 300px;
  height: 300px;
}

.Aboutmid_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.chart_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1.5rem;
}

.video_container {
  text-align: center;
  padding: 1.5rem;
}

.aboutme_info {
  text-align: center;
  padding: 1.5rem;
}

.s_bio {
  font-size: var(--uni-font-size);
}

@media all and (min-width: 320px) and (max-width: 700px){
  .table_container {
    font-size: 9px;
  }
  .s_bio {
    font-size: 13px;
  }
  .one, .two, .three, .four, .five {
    padding: 1px;
  }
  .one {
    -ms-grid-row-span: 2;
    grid-row: span 2;
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nav_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video_container {
    padding: 0;
  }
  iframe {
    width: 320px;
  }

  .header_titles {
    padding: 0;
    marging: 4rem 0;
  }

  .Aboutmid_content {
    padding: 2rem 0 2rem 0;
    font-size: 14px;
  }
  .aboutme_info {
    padding: 0;
  }
}
