@keyframes rocketBlast {
  from {
    fill:  #ff8533;
  }

  to {
    fill: #ff0000;
  }
}

@keyframes rocketHover {
  0% {
    transform: rotate3d(1, 1, 1, 340deg);
  }

  50% {
    transform: rotate3d(1, 1, 1, 357deg);
  }

  100% {
    transform: rotate3d(1, 1, 1, 340deg);
  }
}

@keyframes boxHover {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(.985);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dropDownHeader {
  from {
    transform: translateY(-120px);
  }

  to {
    transform: translateY(0);
  }
}

.animated-header {
  animation: dropDownHeader 1.5s 1 alternate ease;
}

.rocketFire {
  animation-duration: 1s;
  animation-name: rocketBlast;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

.rocketHover {
  animation-duration: 5s;
  animation-name: rocketHover;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

.HoveringElement {
  animation: boxHover;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
