/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.1;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h4 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h5 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 15px;
}

.all_small_text {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.five, .four, .three, .two, .one {
  padding: 30px;
  text-align: center;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.one {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.two {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.three {
  display: none;
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.four {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.five {
  -ms-grid-row-span: 3;
  grid-row: span 3;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  display: none;
}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.bubble_icon {
  height: 240px;
  width: 240px;
  border-radius: 50%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0083ff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px;
  z-index: 99999;
  position: fixed;
  left: 0;
  right: 0;
}

#nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
}

.nav_links {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding: 0 20px;
  font-weight: 600;
}

.nav_links:hover {
  color: #ff33;
}

.nav_links:focus {
  color: #0080ff;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}

.nav_links--active {
  color: #0080ff;
  border-bottom: 4px solid white;
}

a:visited {
  color: #800055;
}

.title_space {
  padding: 8rem 0;
  -webkit-clip-path: ellipse(82% 30%);
          clip-path: ellipse(82% 30%);
  background-color: #0083ff;
}

#titled_header {
  color: white;
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 43px;
  font-family: 'Quicksand', sans-serif;
}

.under_title_header {
  font-size: 19px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  letter-spacing: 5px;
}

.home_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.home_infoCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mid_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.mid_content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 40px;
}

.supertext {
  background-color: #00ff00;
}

.footer_container {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0083ff), to(transparent));
  background-image: -o-linear-gradient(bottom, #0083ff, transparent);
  background-image: linear-gradient(360deg, #0083ff, transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.icon_brand {
  padding: 0.5rem;
  height: 60px;
  width: 55px;
}

.rocket_svg {
  border-radius: 100%;
}

.HoverTitle {
  position: absolute;
  right: 39em;
  top: 8em;
  width: 329px;
}

ul {
  font-family: 'Oxygen', sans-serif;
}

li {
  list-style: none;
}

@media all and (min-width: 320px) and (max-width: 1186px) {
  .mid_content_container {
    padding: 0;
  }

  .bubble_icon {
    width: 180px;
    height: 180px;
  }

  .container {
    position: absolute;
    padding: 15px 0;
  }

  body {
    font-size: 12px;
  }

  .under_title_header {
    font-size: 16px;
  }

  .title_space {
    padding: 13rem 0;
    margin-bottom: -7rem;
    -webkit-clip-path: ellipse(82% 17%);
            clip-path: ellipse(82% 17%);
  }

  #titled_header {
    font-size: 28px;
    letter-spacing: 12px;
  }

  #nav_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .grid-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 0;
    grid-template-rows: 0;
    grid-gap: 0;
  }

  .grid-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .one .two .three .four .five {
    padding: 15px;
    margin-top: 6rem;
  }

  .one {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }

  .two {
    -ms-grid-row: 3;
        grid-row-start: 3;
  }

  .four {
    -ms-grid-column-span: 5;
    grid-column: span 5;
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }

  .home_infoCard {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .home_container {
    padding: 0;
  }
}
